html
    head
        title Little URL
    body
        h1 Little URL
        p Microservice to receive a shortened URL.
        h2 Usage
        ul
            li Pass a URL as a parameter to receive back a shortened URL.
            li Visit the shortened URL to be redirected to the URL.

        